<div class="mb-4">
    <div class="flex flex-row justify-between items-center gap-4 flex-wrap">
        
        <!-- Заголовок -->
        <div class="relative inline-block">
            <h1 class="text-2xl font-bold text-black relative z-10">
              Музыкальный каталог
            </h1>
            
            {% if page_obj.paginator.count > 0 %}
              <span class="absolute -top-1 -right-2.5 text-3xl font-geologica text-blue-600 opacity-25 font-bold">
                {{ page_obj.paginator.count }} 
              </span>
            {% endif %}
        </div>

        <!-- Контролы сортировки и переключения вида -->
        {% include 'catalog/controls/sorting.html' with show_view_buttons=True  %}
    </div>
</div>

<div id="loading-indicator" class="relative min-h-[500px] transition-all duration-200">
    
    <!-- Оверлей загрузки -->
    <div class="loader-content hidden absolute inset-0 z-50 items-center justify-center">
        <svg class="animate-spin h-10 w-10 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>

    <!-- Сетка товаров -->
    <div id="catalog-grid" class="content-grid grid grid-cols-4 gap-5">
        {% for album in albums %}
            {% if view_type == 'list' %}
                {% include 'catalog/cards/list_card.html' %}
            {% else %}
                {% include 'catalog/cards/grid_card.html' %}
            {% endif %}
        {% endfor %}

        <!-- Пагинация / Кнопка "Показать еще" -->
        {% include 'catalog/controls/pagination.html' %}
    </div>
</div>