<!-- Пустое состояние избранного -->
<div id="favorites-grid" hx-swap-oob="true" class="flex flex-col items-center justify-center w-full min-h-[73vh]">
    
    <!-- Иконка -->
    <svg xmlns="http://www.w3.org/2000/svg" width="95" height="95" viewBox="0 0 24 24" class="text-gray-300 mb-3">
        <path fill="currentColor" d="M16.5 3C14.76 3 13.09 3.81 12 5.09C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5C22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1l-.1-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05z"/>
    </svg>
    
    <!-- Заголовок -->
    <h2 class="text-2xl font-medium text-gray-800 mb-2">
        В избранном пусто
    </h2>
    
    <!-- Описание -->
    <p class="text-gray-500 text-base text-center max-w-2xl mb-4 leading-relaxed">
        Вы ещё не отметили ни одного альбома. <br>
        Добавляйте товары в избранное, чтобы не потерять их!
    </p>
    
    <!-- Кнопка действия -->
    <a href="/" class="px-4 py-2 bg-blue-600 text-white text-[13px] font-semibold tracking-wider rounded-md hover:bg-blue-700 transition-colors duration-200 shadow-sm">
        Перейти в каталог
    </a>
</div>