{% extends 'core/base.html' %}

{% block content %}
<main class="flex-grow mb-20">
    <div class="container mx-auto max-w-[1340px] px-6 py-4">
        <div class="flex-1">
            <form id="filter-form" 
                  hx-get="." 
                  hx-trigger="change" 
                  hx-target="#favorites-grid"
                  class="hidden">
                <input type="hidden" name="sort" id="sort_input" value="{{ filters.sort }}">
            </form>

            <!-- Шапка: Заголовок и Управление -->
            <div class="mb-5 flex items-start justify-between">
                
                <!-- Заголовок с декоративным счетчиком -->
                <div class="relative inline-block">
                    <h1 class="text-2xl font-semibold text-black relative z-10">
                        Избранные товары
                    </h1>
                    {% if page_obj.paginator.count > 0 %}
                        <span id="fav-counter" class="absolute -top-1 -right-2.5 font-geologica text-3xl text-blue-600 opacity-25 font-bold tracking-wide">
                            {{ page_obj.paginator.count }}
                        </span>
                    {% else %}
                        <span id="fav-counter"></span>
                    {% endif %}
                </div>
                
                <!-- Панель управления -->
                <div class="flex items-center">
                    <!-- Выпадающий список сортировки -->
                    {% include 'catalog/controls/sorting.html' %}
                </div>
            </div>
            
            <!-- Сетка товаров -->
            <div id="favorites-grid">
                {% include 'favorites/components/content.html' %}
            </div>
            
        </div>
    </div>
</main>
{% endblock content %}